---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import TableClientsController from "@/components/TableClientsController";
---

<Layout>
  <div class="flex w-full h-screen">
    <div class="flex-1 overflow-auto">
      <TableClientsController client:load />
    </div>
  </div>
</Layout>
