---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Dashboard from "@/components/dashboard";
---

<Layout>
  <div class="flex w-full h-full">
    <div class="flex-1 overflow-auto">
      <Dashboard client:load />
    </div>
  </div>
</Layout>
