---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import TableProductsController from "../components/TableProductsController";
---

<Layout>
  <div class="flex w-full h-screen">
    <div class="flex-1 overflow-auto">
      <TableProductsController client:load />
    </div>
  </div>
</Layout>
