---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import TableSalesControllers from "../components/TableSalesController";
---

<Layout>
  <div class="flex w-full h-full">
    <div class="flex-1">
      <TableSalesControllers client:load />
    </div>
  </div>
</Layout>
