---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import TableUsersController from "../components/TableUsersControllers";
---

<Layout>
  <div class="flex w-full h-screen">
    <div class="flex-1 overflow-auto">
      <TableUsersController client:load />
    </div>
  </div>
</Layout>
