---
import {
  Home,
  Users,
  ShoppingCart,
  Package,
  UserCircle,
  Menu,
} from "lucide-react";
const currentPath = Astro.url.pathname;
---

<nav class="bg-white shadow-lg w-64 h-screen fixed left-0 top-0 p-4">
  <div
    class="mb-10 flex justify-center pb-2 items-center gap-2 border-b border-gray-400"
  >
    <Menu className="w-7 h-7" />
    <h1 class="text-xl text-center font-bold">Sistema de gestion</h1>
  </div>
  <ul class="space-y-2">
    <li>
      <a
        href="/"
        class={`flex items-center px-4 py-3 rounded-lg transition-colors ${
          currentPath === "/"
            ? "bg-gray-200 font-medium"
            : "text-gray-600 hover:bg-gray-100 hover:text-black"
        }`}
      >
        <Home className="mr-2" size={18} />
        Inicio
      </a>
    </li>
    <li>
      <a
        href="/users"
        class={`flex items-center px-4 py-3 rounded-lg transition-colors ${
          currentPath === "/users"
            ? "bg-gray-200 font-medium"
            : "text-gray-600 hover:bg-gray-100 hover:text-black"
        }`}
      >
        <Users className="mr-2" size={18} />
        Usuarios
      </a>
    </li>
    <li>
      <a
        href="/sales"
        class={`flex items-center px-4 py-3 rounded-lg transition-colors ${
          currentPath === "/sales"
            ? "bg-gray-200 font-medium"
            : "text-gray-600 hover:bg-gray-100 hover:text-black"
        }`}
      >
        <ShoppingCart className="mr-2" size={18} />
        Ventas
      </a>
    </li>
    <li>
      <a
        href="/products"
        class={`flex items-center px-4 py-3 rounded-lg transition-colors ${
          currentPath === "/products"
            ? "bg-gray-200 font-medium"
            : "text-gray-600 hover:bg-gray-100 hover:text-black"
        }`}
      >
        <Package className="mr-2" size={18} />
        Productos
      </a>
    </li>
    <li>
      <a
        href="/clients"
        class={`flex items-center px-4 py-3 rounded-lg transition-colors ${
          currentPath === "/clients"
            ? "bg-gray-200 font-medium"
            : "text-gray-600 hover:bg-gray-100 hover:text-black"
        }`}
      >
        <UserCircle className="mr-2" size={18} />
        Clientes
      </a>
    </li>
  </ul>
</nav>
