---
import Navbar from "../components/Navbar.tsx";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Gestión de Inventario</title>
  </head>
  <body>
    <Navbar client:load />
    <main class="min-h-screen bg-gray-50">
      <slot />
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
</style>
